<!DOCTYPE html>
<html lang="en">
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BlogPosting",
		"headline": "{{ page.title }}",
		"author": {
			"@type": "Person",
			"name": "{{ site.author }}"
		},
		"datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
		"dateModified": "{{ page.last_modified_at | date: '%Y-%m-%d' }}",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "{{ site.url }}{{ page.url }}"
		},
		"publisher": {
			"@type": "Organization",
			"name": "{{ site.title }}",
			"logo": {
				"@type": "ImageObject",
				"url": "{{ site.url }}/images/logo.png"
			}
		},
		"description": "{{ page.excerpt | strip_html | truncatewords: 30 }}",
		"image": "{{ site.url }}/images/{{ page.image }}"
	}
</script>
<head>
	<title>
		{% if page.title %}
		{{ page.title }} - {{ site.title }}
		{% else %}
		{{ site.title }}
		{% endif %}
	</title>

    <!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="author" content="{{ site.author }}">
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Language" content="fr">
	<meta name="google-site-verification" content="Zb7CRFK4ubiouaeow1Ca5HZECZvLh6fnUo7dxgLrTA4" />

	<!-- FontAwesome JS-->
	<script defer src="/assets/css/fontawesome/js/all.min.js"></script>
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <div class="header text-center overflow-auto">

	    <nav class="navbar navbar-expand-lg navbar-dark" >
			<h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="/index.html">Architecture Logicielle et Développement Java</a></h1>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/profile.jpeg" alt="image" >			
					
					<div class="bio mb-3">{{site.description}}</div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/c%C3%A9dric-s-ba1372100/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://github.com/cedricSarre"><i class="fab fa-github-alt fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-start">
					<li class="nav-item">
					    <a {% if page.url=="/" %}class='nav-link active'{% else %}class='nav-link'{% endif %} href="/index.html"><i class="fas fa-home fa-fw me-2"></i>Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a {% if page.url=="/about/" %}class='nav-link active'{% else %}class='nav-link'{% endif %} href="/about/">About Me</a>
					</li>
				</ul>
			</div>
		</nav>
    </div>
    
    <div class="main-wrapper">
        {{ content }}
    </div><!--//main-wrapper-->
       
    <!-- Javascript -->          
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById("theme-toggle");
            const body = document.body;
            const currentTheme = localStorage.getItem("theme");

		    // Vérifie si le mode sombre est activé et met à jour le bouton
			if (currentTheme === "dark") {
				body.classList.add("dark-mode");
				toggleButton.textContent = "☀️"; // Affiche l'icône de soleil quand en mode sombre
				toggleButton.classList.add("dark-mode-btn"); // Applique une classe pour le bouton en mode sombre
			} else {
				toggleButton.textContent = "🌙"; // Affiche l'icône de lune quand en mode clair
				toggleButton.classList.remove("dark-mode-btn"); // Retire la classe en mode clair
			}

			// Fonction qui bascule entre le mode clair et sombre
			toggleButton.addEventListener("click", function () {
				body.classList.toggle("dark-mode");
				if (body.classList.contains("dark-mode")) {
					localStorage.setItem("theme", "dark");
					toggleButton.textContent = "☀️"; // Changer l'icône en mode sombre
				} else {
					localStorage.setItem("theme", "light");
					toggleButton.textContent = "🌙"; // Changer l'icône en mode clair
				}
			});
        });
	</script>
</body>
</html> 

